@tailwind base;
@tailwind components;
@tailwind utilities;

.item form {
    display: inline-block;
}

button:hover {
  cursor: pointer;
}

.numericItem {
  text-align: right;
}

.list {
  padding-top: 40px;
  border-collapse: collapse;
  width: 100%;
}

.list td, .list th {
  border: 1px solid #ddd;
  padding: 8px;
}

.list tr:nth-child(even){background-color: #f2f2f2;}

.list tr:hover {background-color: azure;}

.total {
  background-color: rgb(185, 218, 233);
}

.registerLink{
  padding-left: 20px;
}